# ==============================
# SISTEMA OPERACIONAL
# ==============================

.DS_Store
Thumbs.db


# ==============================
# IDEs
# ==============================

.vscode/
.idea/
*.iml
*.swp


# ==============================
# JAVA / SPRING
# ==============================

target/
*.class
*.log


# ==============================
# MAVEN
# ==============================

.mvn/wrapper/maven-wrapper.jar


# ==============================
# NODE (se tiver frontend)
# ==============================

node_modules/


# ==============================
# ENV / SEGURANÇA
# ==============================

.env
.env.local


# ==============================
# UPLOADS
# ==============================

uploads/
storage/


# ==============================
# DOCKER
# ==============================

docker-data/
*.pid


# ==============================
# BANCO LOCAL
# ==============================

*.db
*.sqlite


# ==============================
# LOGS
# ==============================

logs/
*.log


# ==============================
# BUILD
# ==============================

build/


# ==============================
# CACHE
# ==============================

.cache/
tmp/
